<%= form_for(skill, remote: true) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    <%= f.label :proficiency %>
    <%= f.select :proficiency, [['Expert','Expert'],['Intermediate','Intermediate'],['Novice ','Novice']] %>
  </div>

  <div class="field">
    <%= f.label :candidate_id %>
    
    <%= f.select :candidate_id, options_for_select(@candidates.collect {|p| [ p['name'], p['id'] ] }), :class => "btn btn-secondary dropdown-toggle", :id => "dropdownMenuButton",
    type: "button", aria: { haspopup: true },aria: { expanded: false }, :style => "background: lightgrey;"%>	
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
