<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @candidate.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<%= render partial: 'skills/skills', collection: @candidate.skills %>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
